body{
    background-color: rgb(56, 56, 56);
}
.container{
    background-color: rgb(110, 110, 110);
    height: 600px;
    display: flex;
    justify-content: space-around;
    align-items:center;
    flex-direction: row;

}

.container>div{
    width: 150px;
    margin: 10px;
}

.green{
    background-color: rgb(75, 172, 75);
    height: 100px;
    flex-grow: 0;

}

.blue{
    background-color: rgb(97, 97, 237);
    height: 200px;
    flex-grow: 0;
}

.yellow{
    background-color: rgb(238, 238, 94);
    height: 150px;
    flex-grow: 0;
}


.container2{
    background-color: rgb(110, 110, 110);
    height: 600px;
    display: flex;
    justify-content: center;
    align-items:center;
    align-content:center;
    flex-direction: row;
    flex-wrap: wrap;
    margin-top: 30px;
}

.container2>div{
    min-width: 150px;
    margin: 10px;
}

.green2{
    background-color: rgb(75, 172, 75);
    height: 150px;
    flex-grow: 1;

}

.blue2{
    background-color: rgb(97, 97, 237);
    height: 150px;
    flex-grow: 1;
}

.yellow2{
    background-color: rgb(238, 238, 94);
    height: 150px;
    flex-grow: 1;
}
